.title {
  border: 2px solid black;
  border-radius: 24px;
  width: 200px;
  padding: 6px;
  margin: 0 auto;
  font-weight: bold;
  font-size: larger;
  background-image: linear-gradient(to right, #c9fadb, #96bcfd);
  text-align: center;
}
