#root {
  margin: auto;
}

.mobile-page-wrapper {
  width: 500px;
  height: 800px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #11c0df;
  display: flex;
  flex-direction: column;
}
